<div class="flex-col gap-4">
  <p class="text-white text-xl font-bold text-center">Pendientes</p>
  @for(task of taskService.getTasks(); track task.id){
    <app-task-card-item [content]="task.description"/>
  }
</div>

<div class="flex-col gap-4">
  <p class="text-white text-xl font-bold text-center">En progreso</p>
  @for(task of taskService.getTasks(); track task.id){
    <app-task-card-item [content]="task.description"/>
  }
</div>

<div class="flex-col gap-4">
  <p class="text-white text-xl font-bold text-center">Terminado</p>
  @for(task of taskService.getTasks(); track task.id){
    <app-task-card-item [content]="task.description"/>
  }
</div>
